#back-to-top {
  display: inline-block;
  background-color: rgba(59, 93, 91, 0.788);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back-to-top::after {
  color: #fff;
}
#back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}
#back-to-top:active {
  background-color: #555;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}


/* Index.html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  color: rgb(85, 85, 85);
}


nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  background-color: rgba(59, 93, 91, 0.788);
}

body #hamburger-nav {
  display: none;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: rgb(160, 160, 160);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

.section-container {
  display: flex;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 88vh;
}

.section_pic-container {
  display: flex;
  float: left;
  height: 500px;
  width: 500px;
  margin: auto 0;
}

.section_text {
  align-self: center;
  text-align: center;
}

.section_text p {
  font-weight: 600;
}

.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.button-container {
  gap: 1rem;
}

nav #active {
  color: rgb(160, 160, 160);
  text-decoration: none;
}

/* About.html */
#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 86vh;
  width: 70%;
  margin: 0 auto;
  line-height: 2rem;
}

.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.multimedia,
.location {
  margin: 5rem auto;
  padding: 2rem;
  width: 70%;
  background-color: rgba(59, 93, 91, 0.1);
  border-radius: 10px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}

.multimedia h2,
.location h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: rgba(59, 93, 91, 0.9);
}

.multimedia p,
.location p {
  text-align: center;
  font-size: 1.25rem;
  color: rgb(85, 85, 85);
  margin-bottom: 1rem;
}

audio,
video {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.mapouter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.gmap_canvas {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.gmap_iframe {
  width: 900px;
  height: 450px;
  border-radius: 10px;
}

/* Contact.html */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 89vh;
  width: 70%;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contact-form {
  text-align: center;
  font-size: 2rem;
  background-color: rgb(173, 191, 191);
  padding: 1rem;
  border-radius: 2rem;
}

#active {
  color: rgb(160, 160, 160);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

button {
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  width: 10rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  transition: all 300ms ease;
}

button:hover {
  background-color: rgb(85, 85, 85);
}

input {
  border: none;
  padding: 1rem;
  width: 25%;
  border-radius: 2rem;
}

textarea {
  border: none;
  border-radius: 2rem;
  width: 30%;
  padding: 1rem;
}

label {
  font-size: 1rem;
}

.contact {
  border-radius: 2rem;
  height: 83vh;
}

/* Footer */
footer {
  background-color: #191919;
  display: flex;
  align-items: center;
}

footer p {
  color: #aeaeae;
}

.input-group div{
  /* position: absolute; */
  font-size: medium;
  color: rgb(196, 40, 92);
  margin: 0.5rem;
}

.input-group div i {
  color: green;
}

/* Experience.html */
#experience {
  height: 89vh;
  display: flex;
  min-height: fit-content;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  line-height: 2rem;
}

.section-container {
  display: flex;
}

.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

#active {
  color: rgb(160, 160, 160);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.experiences-list {
  list-style: none;
}

.experiences-list li {
  margin: 1rem;
}

h3 {
  border-bottom: 2px solid #4f8484;
  display: inline-block;
}

/* Projects.html */
.projects {
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  /* height: 160vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.project-card {
  background-color: rgb(173, 191, 191);
  padding: 1rem;
  border-radius: 1.5rem;
  width: 35%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 300ms ease;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-card:hover {
  transform: translateY(-6px);
}

.project-card img {
  width: 100%;
  height: 60%;
  border-radius: 1rem;
}

.project-card h3 {
  margin: 1rem 0;
}

.project-card p {
  font-size: 1rem;
}

.project-card video {
  width: 300px;
  border-radius: 10px;
}








/* Footer */
footer {
  background-color: rgb(49, 49, 49);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-time-div {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* background-color: #333; */
  /* align-items: right; */
  justify-content: right;
}

#current-time, #current-date{
  color: white;
  cursor: none;
}

#current-date {
  font-size: medium;
}









/* Transition */
a,
.btn {
  transition: all 300ms ease;
}

/* Hamburger */
#hamburger-nav {
  display: flex;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5 rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

#welcome-message {
  position: fixed;
  top: 59%;
  left: 89%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 135px 20px;
  border-radius: 50%;
  font-size: 1rem;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  transition: opacity 1s ease;
  width: 20%;
}

body #welcome-message.show {
  opacity: 1;
}


/* <!-- For mobile deviecs --> */
